:root{
  --fondo: #fff; /* normal: #fff, dark-mode: #222 */
  --fondo-secundario: #eee; /* normal: #eee, dark-mode: #000 */
  
  --texto-primario: #000; /* normal: #000, dark-mode: #fff */
  --texto-secundario: #fff;
  --texto-terciario: #555; /* normal: #555, dark-mode: #bbb */

  --color-primario: #000080; /* normal: #000080, dark-mode: #02a */
  --color-secundario: #33f;
  --color-secundario-hover: #44f;
  --color-icono: #fff;
  
  --switch-inactivo: transparent;
  --switch-activo: #006400;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  font-family: sans-serif;
  padding-top: 60px;
  background: var(--fondo);
  color: var(--texto-primario);
}
body.dark{
  --fondo: #222; /* normal: #fff, dark-mode: #222 */
  --fondo-secundario: #000; /* normal: #eee, dark-mode: #000 */
  
  --texto-primario: #fff; /* normal: #000, dark-mode: #fff */
  --texto-terciario: #bbb; /* normal: #555, dark-mode: #bbb */

  --color-primario: #02a; /* normal: #000080, dark-mode: #02a */
}

.contenedor{
  width: 80%;
  max-width: 1000px;
  margin: 30px auto;
}
.titulo{
  text-align: center;
  padding-bottom: 30px;
}
.boton{
  padding: 10px 20px;
  background: var(--color-primario);
  color: var(--texto-secundario);
  border: 3px solid var(--color-primario);
  border-radius: 5px;
  text-decoration: none;
  transition: .2s;
}
.boton:hover{
  background: transparent;
  color: var(--texto-primario);
}
.boton--rojo{
  background: #f00;
  border: 3px solid #f00;
}
.switch{
  appearance: none;
  position: relative;
  padding: 10px 20px;
  background: var(--switch-inactivo);
  border: 1px solid var(--texto-secundario);
  border-radius: 20px;
  transition: .3s;
  outline: none;
}
.switch::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  background: var(--texto-secundario);
  border-radius: 50%;
  transition: .3s;
}
.switch:checked{ background: var(--switch-activo); }
.switch:checked::after{ left: 50%; }

/* NAVBAR */
.navbar{
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 0 30px;
  background: var(--color-primario);
  z-index: 100;
}
.navbar__usuario{
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  gap: 20px;
}
.navbar__img{
  height: 70%;
  aspect-ratio: 1/1;
  object-fit: contain;
  border-radius: 50%;
  filter: drop-shadow(0 0 1px #aaa) drop-shadow(0 0 1px #aaa);
}
.navbar__nombre{
  color: var(--texto-secundario);
  font-size: 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.navbar__hamburguesa{
  display: none;
}
.navbar__contenedor{
  width: 75%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-grow: 1;
  gap: 20px;
}
:is(.navbar__paginas, .navbar__sesion){
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.navbar__tema{
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--texto-secundario);
  user-select: none;
  cursor: pointer;
}
.navbar__link{
  color: var(--texto-secundario);
  text-decoration: none;
}

/* INICIO HEADER */
.header{
  margin: 0 auto;
  padding: 50px 0;
  min-height: calc(100vh - 60px);
  min-height: calc(100svh - 60px);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
  align-items: center;
  gap: 30px;
}
.header__img{ width: 100%; }
.header__titulo{ font-size: 3em; }
.header__parrafos{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.header__parrafo{
  text-align: justify;
  font-size: 1.2em;
  line-height: 1.2;
}
.header__botones{
  margin: 30px 0;
  display: flex;
  justify-content: space-evenly;
}

/* EMPRESAS AFILIADAS */
.empresas{
  background: var(--fondo-secundario);
  padding: 0.1px; /* evitar margin collapse */
}
.empresas__lista{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 200px));
  justify-content: center;
  align-items: center;
  column-gap: 50px;
  row-gap: 30px;
}
.empresas__empresa{
  width: 100%;
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
}
.empresas__img{
  width: 100%;
  border-radius: 50%;
}
.empresas__link{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: var(--texto-primario);
}

/* FILTROS DE PUBLICACIONES */
.filtros{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
  padding: 20px;
  background: var(--color-primario);
  color: var(--texto-secundario);
  border-radius: 3px;
}
.filtros__filtro{
  display: flex;
  align-items: center;
  gap: 10px;
}
.filtros__filtro--busqueda input{
  width: 100%;
  padding: 5px 10px;
  font-size: 1em;
  font-family: sans-serif;
  outline: none;
}

/* PUBLICACIONES (OFERTAS, CURSOS) */
.publicaciones{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.publicacion{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px;
  background: var(--fondo-secundario);
  text-align: justify;
  border-radius: 3px;
}
.publicacion.inactiva .publicacion__etiqueta{
  filter: grayscale(1);
}
.publicacion__estado{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}
.publicacion__estado-indicador{
  width: 10px;
  height: 10px;
  background: green;
  border-radius: 50%;
}
.publicacion__estado-indicador.inactiva{
  background: red;
}
.publicacion__estado-boton{
  padding: 5px 10px;
  font-size: .9em;
}
.publicacion__empresa{
  width: max-content;
  margin-bottom: 15px;
  color: var(--texto-terciario);
  font-size: 0.9em;
  transition: .3s;
}
.publicacion__empresa:hover{
  color: var(--texto-primario);
}
.publicacion__descripcion{
  line-height: 1.5;
}
.publicacion > hr{
  margin: 10px 0;
}
.publicacion__etiquetas{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}
.publicacion__etiqueta{
  padding: 3px 5px;
  border-bottom: 3px solid var(--color-primario);
  border-radius: 5px;
}
.publicacion__interes{
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 10px;
}
.publicacion__interes-boton,
.publicacion__ver-interesados{
  width: max-content;
  padding: 5px 10px;
}
.publicacion__interes-boton{
  background: green;
  border: 3px solid green;
}
.publicacion__interes-boton.interesado{
  background: red;
  border: 3px solid red;
}
.publicacion__interes-boton.interesado:hover{
  background: transparent;
}
.publicacion__interesados{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.publicacion__interesado{
  color: var(--texto-primario);
}

/* PERFIL USUARIO */
.usuario{
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.boton-verificar{
  align-self: flex-end;
  width: max-content;
  padding: 5px 10px;
  background: green;
  border: 3px solid green;
}
.boton-verificar.verificada{
  background: red;
  border: 3px solid red;
}
.boton-verificar.verificada:hover{ background: transparent; }
.usuario__datos{
  position: sticky;
  top: 90px;
  padding: 30px;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background: var(--fondo-secundario);
  border-radius: 5px;
}
.usuario__informacion{
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* text-align: center; */
}
.usuario__editar,
.usuario__btn-curriculum{
  font-size: .9em;
  width: max-content;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  background: var(--color-primario);
  color: var(--texto-secundario);
  border: 2px solid var(--color-primario);
  border-radius: 5px;
  text-decoration: none;
  transition: .2s;
}
.usuario__editar:hover,
.usuario__btn-curriculum:hover{
  --color-icono: var(--color-primario);
  background: transparent;
  color: var(--texto-primario);
}
.usuario__editar-icon,
.usuario__curriculum-icon{
  color: var(--color-icono);
  transition: .2s;
}
.usuario__img{
  width: 90%;
  max-width: 100px;
  margin: auto;
  aspect-ratio: 1/1;
  object-fit: contain;
  border: 2px solid #aaa;
  border-radius: 50%;
}
.usuario__nombre{
  display: flex;
  align-items: center;
  gap: 5px;
}
.usuario__protegido{
  display: flex;
  align-items: center;
  gap: 5px;
}
.usuario__protegido,
.usuario__correo{
  font-size: .9em;
  color: var(--texto-terciario);
}
.usuario__textos{
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.usuario__texto{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.usuario__titulo{
  margin-bottom: 20px;
}
.usuario__parrafo{
  line-height: 1.5;
  font-size: 1.05em;
  text-align: justify;
}

/*! FORMULARIOS */
.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.form__apartado {
  width: 90%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
}
.form__input{
  width: 100%;
  padding: 10px 20px;
  flex-grow: 1;
  font-size: 1em;
  font-family: sans-serif;
  outline: none;
  resize: none;
}
.form__input--boton{
  width: auto;
}
.form__accion-sec{
  margin-top: 20px;
  color: var(--color-secundario);
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}
.form__accion-sec:hover{
  color: var(--color-secundario-hover);
}
.form__info{
  font-size: 0.9em;
  text-align: center;
  margin: 10px auto;
}

/*! FORMULARIO EDITAR PERFIL */
.formEditar__cambiar-foto{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formEditar__foto{
  /* Siempre va a intentar agarrar el máximo tamaño entre las dos medidas */
  /* el min sirve para cuando el contenedor sea menor de 150 y evitar el desbordamiento */
  width: max(min(100%, 150px), 20%);
  aspect-ratio: 1/1;
  object-fit: contain;
  margin: 20px auto;
  border: 2px solid #aaa;
  border-radius: 50%;
}
.formEditar__botones{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.formEditar__boton{
  width: 100%;
  font-size: 1em;
}
.formEditar__archivo{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.formEditar__btn-archivo{
  padding: 5px 10px;
  font-size: 0.9em;
}

/*! MEDIA QUERIES */
@media screen and (max-width: 768px){
  /* NAVBAR */
  .navbar{
    justify-content: flex-end;
  }
  .navbar__hamburguesa{
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  .navbar__hamburguesa .linea{
    width: 100%;
    height: 5px;
    background: var(--texto-secundario);
    border-radius: 5px;
    transition: .3s;
  }
  .navbar__contenedor{
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: calc(100vh - 60px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primario);
    text-align: center;
    clip-path: circle(0% at center);
    font-size: 1.2em;
    transition: clip-path .3s, gap .3s .3s, opacity .3s .3s;
  }
  .navbar__contenedor.activo{
    gap: 50px;
    clip-path: circle(200% at center);
  }
  .navbar__contenedor div{
    flex-direction: column;
    opacity: 0;
    transition: opacity .3s .2s;
  }
  .navbar__contenedor.activo div{
    opacity: 1;
  }
  /* INICIO */
  .header__titulo{ font-size: 2.5em; }
  .header__parrafo{ font-size: 1em; }
  /* PERFIL USUARIO */
  .usuario{
    grid-template-columns: 1fr;
  }
  .usuario__datos{
    position: inherit;
    flex-direction: row;
  }
  .usuario__textos{ padding: 30px 0; }
}

@media screen and (max-width: 425px){
  .usuario__informacion{
    align-items: center;
  }
  .usuario__datos{
    flex-direction: column;
    text-align: center;
  }
}
